.sidebar {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px 1fr;
    border-right: 1px solid var(--border-base);
    transition: margin-left 0.2s ease-in-out;
    background-color: var(--bg-base);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: var(--bg-faint);
    border-bottom: 1px solid var(--border-base);
}

.sidebar-header-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-content-outer {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.sidebar-content-inner {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    background-color: var(--bg-subtle);
}

.sidebar-content-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

::deep .sidebar-content-section .link:not(:first-child) {
    border-top: none;
}


::deep .link.new-chat-link {
    display: none;
}

.logo-container {
    width:36px;
    padding:0.1rem;
}

.logo-container img{
    height:100%;
    width:100%;
}

@media only screen and (min-width : 1000px) {
    ::deep .link.new-chat-link.collapse {
        display: block;
    }
}

@media only screen and (max-width : 1000px) {
    .sidebar {
        position: absolute;
        width: 300px;
        top: 0;
        left: 0;
        z-index: 2;
        margin-left: -300px;
    }

        .sidebar.expand {
            margin-left: 0;
        }
}
