.message {
    padding: 0.75rem;
    background-color: var(--bg-faint);
    font-size: 1.2rem;
    border-radius: 0.5rem;
    white-space:pre-line;
}

    .message.user {
        background-color: var(--accent-base);
        color:var(--bg-base);
        width:fit-content;
        align-self:end;
    }
