@using Chatbot.Application.Shared
<p class="message @UserMessageClass">
    @((MarkupString)Message.Message)
</p>

@code {
    [Parameter]
    public ChatMessageDto Message { get; set; } = new ChatMessageDto();

    public string UserMessageClass { get => Message.IsUser ? "user" : ""; }
}
