<div class="loader">
    <div class="loader-wheel"></div>
    @if (ShowLoadingText)
    {
        <div class="loader-text"></div>
    }
</div>


@code {
    [Parameter]
    public bool ShowLoadingText { get; set; } 
}