@using Chatbot.Application.Shared
@using chatbot2.Components
@using chatbot2.Services
@page "/chats"

<PageLayout Title="All chats">
    <div>
        <InfiniteScrollList TValue="ChatInfoDto" Context="chat" Url="api/chat">
            <ChatLink ChatInfo="chat" />
        </InfiniteScrollList>
    </div>
</PageLayout>

@code {

    [Inject]
    public ChatService chatService { get; set; } = null!;
    public PaginationParams paginationParams { get; set; } = new();

    public List<ChatInfoDto> Chats { get; set; } = PlaceHolderData.Chats.ToList();

    protected override void OnInitialized()
    {
        chatService.OnChatDeleted += RemoveChat;
    }

    public void RemoveChat(int Id)
    {
        Chats.RemoveAll(v => v.Id == Id);
        StateHasChanged();
    }

    public void Dispose()
    {
        chatService.OnChatDeleted -= RemoveChat;
    }
}
