@page "/Register"
@layout EmptyLayout
@using Chatbot.Application.Shared.ReqDtos
@using chatbot2.Components
@using chatbot2.Services

<FormPage Model="registerReqDto" Title="Register" OnValidSumbit="RegisterClickedHandler">
    <MdInputBox2 Title="Username" @bind-Value="registerReqDto.Name" ValidationFor="()=>registerReqDto.Name" />
    <MdInputBox2 Type="email" Title="Email" @bind-Value="registerReqDto.Email" ValidationFor="()=>registerReqDto.Email" />
    <MdInputBox2 Type="password" Title="Password" @bind-Value="registerReqDto.Password" ValidationFor="()=>registerReqDto.Password" />
    <p style="font-size:0.8rem">already have an account <a href="login">login</a></p>
    <MdButton Type="submit">
        Register
    </MdButton>
</FormPage>

@code {
    [Inject]
    public AuthService authService { get; set; } = null!;
    [Inject]
    public NavigationManager navigationManager { get; set; } = null!;
    public RegisterReqDto registerReqDto { get; set; } = new();

    public async Task RegisterClickedHandler()
    {
        await this.authService.Register(registerReqDto);

        navigationManager.NavigateTo("login");
    }
}
